<%- include ('../partials/adminNav') %>

    <section class="dashboard">

        <!----------Stat Dashboard--------------------->
        <div class="stat">
            <div class="stat-new">
                Order Today
                <div class="stat-wrap">
                    5550 order
                </div>
            </div>
            <div class="stat-total">
                Order Today
                <div class="stat-wrap">
                   5550 order
                </div>
            </div>
            
            <div class="stat-accept">
                Order Today
                <div class="stat-wrap">
                    5550 order
                </div>
            </div>
            <div class="stat-earning">
                Order Today
                <div class="stat-wrap">
                   5550 order
                </div>
            </div>
        </div>
        
        <!-------------------------------Order------------------------------>
        <div>
            <div>eqq</div>
        </div>


    </section>

<%- include ('../partials/adminFooter') %>