<html>
<body>

        <form action="/admin/food/newfood" method="POST"  enctype="multipart/form-data">
        
            <label>Food Name</label><input type="text" placeholder="Food Name" id="name" name="name"/>
            <label>Price</label><input type="text" placeholder="Price" id="price" name="price"/>
            <label>Img</label><input type="file" placeholder="foodName" id="img" name="img"/>
            <label>description</label>
            <textarea placeholder="description" id="description" name="description"></textarea>
            <a href="/admin/dashboard" class="btn btn-back">GO back</a>
        
            <input type="submit"/>
        </form>

</body>
</html>
