<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Admin Dashobard</title>
</head>
<body id="admin-dashboard">
    
    <aside>
        <div class="admin-name">
            <img src="/imgs/anonymous.jpg" alt="">
            <h1>Welcome!</h1>

        <ul class="admin-menu">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/order">Order History</a></li>
            <li><a href="/admin/food">Food</a></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </aside>