 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/script.js"></script>
   

 
    <title>Ummmaroi</title>
</head>
<body>
    <nav>
        <div class="brand">
            <div class="img-cont">
          <img src="/imgs/logo.jpg" alt="">
            </div>
           <h1><a href="/">อื้มอาโหร่ยยยย | ummm aroi</a></h1>
        </div>
    <div class="ham-wrap">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
   
    </div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/food">ดูเมนู</a></li>
            <li><a href="/order">สั่งอาหาร</a></li>
            <li><a href="/check">เช็คออเดอร์</a></li>
            <li><a href="/review">รีวิว</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/food">ดูเมนู</a></li>
            <li><a href="/order">สั่งอาหาร</a></li>
            <li><a href="/check">เช็คออเดอร์</a></li>
            <li><a href="/review">รีวิว</a></li>
        </ul>
    </div>
