<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Admin Dashobard</title>
</head>
<body id="admin-dashboard">
    <aside>
        <div class="admin-name">
            <img src="img/anonymous.jpg" alt="">
            <h1>Welcome , Admin</h1>

        <ul class="admin-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Edit Food</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </aside>


    <section class="dashboard">

        <!----------Stat Dashboard--------------------->
        <div class="stat">
            <div class="stat-new">
                Order Today
                <div class="stat-wrap">
                    5550 order
                </div>
            </div>
            <div class="stat-total">
                Order Today
                <div class="stat-wrap">
                   5550 order
                </div>
            </div>
            
            <div class="stat-accept">
                Order Today
                <div class="stat-wrap">
                    5550 order
                </div>
            </div>
            <div class="stat-earning">
                Order Today
                <div class="stat-wrap">
                   5550 order
                </div>
            </div>
        </div>
        
        <!-------------------------------Order------------------------------>
        <div>
            <div>eqq</div>
        </div>


    </section>
</body>
</html>