<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">   
    <link rel="stylesheet" href="../css/all.css">
    <script defer src="../script.js"></script>
    <title>Ummmaroi</title>
</head>
<body>
    
    <nav>
        <div class="brand">
            <div class="img-cont">
          <img src="img/logo.jpg" alt="">
            </div>
           <h1><a href="#">อื้มอาโหร่ยยยย | ummm aroi</a></h1>
        </div>
    <div class="ham-wrap">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
   
    </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="menu.html">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="menu.html">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </div>

  <section class="showcase">
      
          <div class="left">
              <div class="container">
                  <button href="#">ดูเมนู</button>
            </div>
          </div>
          <div class="right">
            <div class="container">
                <button herf="#">สั่งอาหาร</button>
            </div>
          </div>
      </section>
<footer>
    <ul>
        <li>ติดตามเราได้ที่</li>
        <li><a href="#">Facebook: อื้มอาโหร่ย</a></li>
        <li><a href="#">Instagram: ummm.aroi</a></li>
    </ul>
</footer>


</body>
</html>