<%- include ('partials/header') %>


<section class="showcase">
      
  <div class="left">
      <div class="container">
          <button href="#">ดูเมนู</button>
    </div>
  </div>
  <div class="right">
    <div class="container">
        <button herf="#">สั่งอาหาร</button>
    </div>
  </div>
</section>


<%- include ('partials/footer') %>



