<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ดูเมนู</title>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="brand">
            <div class="img-cont">
          <img src="img/logo.jpg" alt="">
            </div>
           <h1><a href="#">อื้มอาโหร่ยยยย | ummm aroi</a></h1>
        </div>
    <div class="ham-wrap">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="menu.html">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </div>
<!------------------------------------------END of NAV-------------------------------------------->



    <div class="check-wrapper">
        
        <div class="search">
           <span>ระบุเลขออเดอร์</span> <input type="text" placeholder="ระบุเลขออเดอร์"/> <button>ค้นหา</button>
        </div>
        
        <div class="check-result">
            <table id="order-check">
                <tr>
                    <th class="orderID">เลขออเดอร์</th>
                    <th class="payStatus">สถานะจ่ายเงิน</th>
                    <th class="deliverStatus">สถานะการส่ง</th>
                </tr>
                <tr id="#result">
                    <td class="orderID">04082001</td>
                    <td class="payStatus">eq</td>
                    <td class="deliverStatus">eq</td>
                </tr>
            </table>
        </div>

    </div>
  


               
   









<!------------------------------------------END of content-------------------------------------------->

</body>
</html>