<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ดูเมนู</title>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="brand">
            <div class="img-cont">
          <img src="img/logo.jpg" alt="">
            </div>
           <h1><a href="#">อื้มอาโหร่ยยยย | ummm aroi</a></h1>
        </div>
    <div class="ham-wrap">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="menu.html">ดูเมนู</a></li>
            <li><a href="#">สั่งอาหาร</a></li>
            <li><a href="#">เช็คออเดอร์</a></li>
            <li><a href="#">รีวิว</a></li>
        </ul>
    </div>
<!------------------------------------------END of NAV-------------------------------------------->


<div class="order-wrapper">
    <div><h1>สั่งอาหาร</h1></div>


    <div class="order-menu">
        <div class="order">
                <div class="img">
                    <img src="img/spaghetti.jpg" alt="">
                </div>
                <div class="message">
                  <p>สปาเกตตี้</p>
                  <p>ราคา xx บาท</p>
                  <p>จำนวน <input type="number" /> บาท</p>
                </div>
        </div>

        <div class="order">
            <div class="img">
                <img src="img/spaghetti.jpg" alt="">
            </div>
            <div class="message">
              <p>สปาเกตตี้</p>
              <p>ราคา xx บาท</p>
              <p>จำนวน <input type="number" /> บาท</p>
            </div>
        </div>

        <div class="order">
            <div class="img">
                <img src="img/spaghetti.jpg" alt="">
            </div>
            <div class="message">
              <p>สปาเกตตี้</p>
              <p>ราคา xx บาท</p>
              <p>จำนวน <input type="number" /> บาท</p>
            </div>
        </div>

        <div class="order">
            <div class="img">
                <img src="img/spaghetti.jpg" alt="">
            </div>
            <div class="message">
                <p>สปาเกตตี้</p>
                <p>ราคา xx บาท</p>
                <p>จำนวน <input type="number" /> บาท</p>
            </div>
        </div>

   <!--END order-->     
    </div>

<!--END order-menu-->
<a class="cart" href="#cart">ไปที่ตะกร้า</a>



  
        <form action="#" id="cart">
           <h1>สรุปรายการ</h1>
               <table>
                   <tr>
                       <th class="name">ชื่อเมนู</th>
                       <th class="price">ราคา</th>
                       <th class="qty">ชิ้น</th>
                       <th class="total">รวมราคา(บาท)</th>
                   </tr>
                   <!-------------------End table head------------------>
                   <tr id="list">
                        <td class="name">mock up</td>
             </div>
        </form>              <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>
                    <tr id="list">
                        <td class="name">mock up</td>
                        <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>
                    <tr id="list">
                        <td class="name">mock up</td>
                        <td class="price">ราคา</td>
                        <td class="qty">ชิ้น</td>
                        <td class="total">รวมราคา(บาท)</td>
                    </tr>

               </table>
               <div class="button">
                <button onclick="">ยืนยัน</button>
   

</div>







<!------------------------------------------END of content-------------------------------------------->
    <footer>
        <ul>
            <li>ติดตามเราได้ที่</li>
            <li><a href="#">Facebook: อื้มอาโหร่ย</a></li>
            <li><a href="#">Instagram: ummm.aroi</a></li>
        </ul>
    </footer>
</body>
</html>