<%- include ('partials/header')%>

<div class="review-wrapper">
    <h1>รีวิว</h1>
            <div class="review">
                    <div class="user">
                        <img src="img/spaghetti.jpg" alt="">
                        <p>JOY</p>
                    </div>

                    <div class="testi">
                        <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                    </div>
            </div>

            <div class="review">
                <div class="user">
                    <img src="img/spaghetti.jpg" alt="">
                    <p>JOY</p>
                </div>

                <div class="testi">
                    <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                </div>
            </div>

            <div class="review">
                <div class="user">
                    <img src="img/spaghetti.jpg" alt="">
                    <p>JOY</p>
                </div>

                <div class="testi">
                    <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                </div>
            </div>
</div>
<%- include ('partials/footer')%>
