<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ดูเมนู</title>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <div class="brand">
        <div class="img-cont">
      <img src="img/logo.jpg" alt="">
        </div>
       <h1><a href="#">อื้มอาโหร่ยยยย | ummm aroi</a></h1>
    </div>
<div class="ham-wrap">
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">ดูเมนู</a></li>
        <li><a href="#">สั่งอาหาร</a></li>
        <li><a href="#">เช็คออเดอร์</a></li>
        <li><a href="#">รีวิว</a></li>
    </ul>
</nav>
<div id="sidebar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="menu.html">ดูเมนู</a></li>
        <li><a href="#">สั่งอาหาร</a></li>
        <li><a href="#">เช็คออเดอร์</a></li>
        <li><a href="#">รีวิว</a></li>
    </ul>
</div>



<div class="review-wrapper">
    <h1>รีวิว</h1>
            <div class="review">
                    <div class="user">
                        <img src="img/spaghetti.jpg" alt="">
                        <p>JOY</p>
                    </div>

                    <div class="testi">
                        <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                    </div>
            </div>

            <div class="review">
                <div class="user">
                    <img src="img/spaghetti.jpg" alt="">
                    <p>JOY</p>
                </div>

                <div class="testi">
                    <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                </div>
            </div>

            <div class="review">
                <div class="user">
                    <img src="img/spaghetti.jpg" alt="">
                    <p>JOY</p>
                </div>

                <div class="testi">
                    <p>อาหารอร่อยว่ะไอเหี้ยเอ้ยยย</p>
                </div>
            </div>
</div>


<footer>
    <ul>
        <li>ติดตามเราได้ที่</li>
        <li><a href="#">Facebook: อื้มอาโหร่ย</a></li>
        <li><a href="#">Instagram: ummm.aroi</a></li>
    </ul>
</footer>
</body>
</html> 